body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.frame {
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 90%; /* Adjusted width for better responsiveness */
    margin: auto; /* Centering the frame */
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.button {
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: #000;
    color: #fff; /* Change text color to white when hovered */
}

.button:active {
    background-color: #d1d1d1;
}

.operator {
    background-color: #ff9500;
    color: #fff;
}

.operator:active {
    background-color: #cc7600;
}

.clear {
    background-color: #ff3b30;
    color: #fff;
}

.clear:active {
    background-color: #cc2a22;
}